## IMPLEMENTATION OF THE CREATE_TABLE AND ETL MODULES; AND SHOWCASING THE SONG ANALYSIS TABLES CREATED IN THE REDSHIFT CLUSTER

In [1]:
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries


def drop_tables(cur, conn):
    ''' Delete the existing tables in order to create new ones'''
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    ''' Create new tables that are specified in the create_table_queries '''
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    ''' main() control the execution flow here, First, setting up connection to the redshift clusters, 
    then dropping existing tables and further creating new ones.'''
    
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()

    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

In [2]:
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries


def load_staging_tables(cur, conn):
    ''' Load or copy log and song data from the S3 buckets into the staging tables created in the redshift clusters'''
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    ''' Insert or load specified columns data from the staging tables into the analytics tables in the redshift clusters'''
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    ''' main() control the execution flow, First, by setting up connection to the Redshift DWH clusters based on some properties,
    then, data is copied from S3 to staging tables and finally, 
    data is inserted from specified columns in the staging tables into the analytics table, 
    all of this occuring within the Redshift cluster'''
    
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    load_staging_tables(cur, conn)
    insert_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

In [7]:
%load_ext sql

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [5]:
# FILL IN YOUR REDSHIFT ENDPOINT HERE
DWH_ENDPOINT=""
    
#FILL IN YOUR IAM ROLE ARN
DWH_ROLE_ARN=""

In [8]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [17]:
%%sql
SELECT * FROM time
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 21, 14, 28, 796000), 21, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 5, 10, 41, 2, 796000), 10, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 11, 17, 25, 796000), 11, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 15, 31, 19, 796000), 15, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 5, 16, 4, 5, 796000), 16, 5, 45, 11, 2018, '1')]

In [16]:
%%sql
SELECT * FROM songplays
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(123, datetime.datetime(2018, 11, 3, 21, 14, 28, 796000), 49, 'free', 'SOFVOQL12A6D4F7456', 'ARPN0Y61187B9ABAA0', 195, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (8, datetime.datetime(2018, 11, 5, 10, 41, 2, 796000), 42, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (105, datetime.datetime(2018, 11, 5, 11, 17, 25, 796000), 44, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (187, datetime.datetime(2018, 11, 5, 15, 31, 19, 796000), 24, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (97, datetime.datetime(2018, 11, 5, 16, 4, 5, 796000), 97, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [18]:
%%sql
SELECT * FROM songs
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.76689),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, 448.23465),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 0, 195.02975)]

In [19]:
%%sql
SELECT * FROM artists
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR03BDP1187FB5B324', 'Britney Spears feat. Pharrell Williams', 'Kentwood, LA; Los Angeles, CA', 34.05349, -118.24532),
 ('AR04PRW1187FB4D60D', 'The Bens', '', None, None),
 ('AR059HI1187B9A14D7', 'Roy Drusky', 'Atlanta, GA', 33.74831, -84.39111),
 ('AR061BH1187B98DF74', 'Guttermouth', 'Huntington Beach, CA', 33.67889, -118.00157),
 ('AR061J011A348F060F', 'Ximena Sarinana', 'MX', 23.62574, -101.95625)]

In [20]:
%%sql
SELECT * FROM users
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c7iloqytfgwn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (18, 'Jacob', 'Rogers', 'M', 'free'),
 (24, 'Layla', 'Griffin', 'F', 'paid'),
 (28, 'Brantley', 'West', 'M', 'free')]